@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<header class="mt-4">
    <div class="text-center">
        <img src="~/imagenes/bloquear.png" class="img-fluid" />
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">No tienes acceso a este recurso.</p>
    </div>
</header>
