@page
@model LockoutModel
@{
    ViewData["Title"] = "Cuenta Bloqueada";
}

<header class="mt-4">
    <div class="text-center">
        <img src="~/imagenes/no-autorizado.png" class="img-fluid" width="150" />
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Esta cuenta ha sido bloqueada, inténtalo de nuevo más tarde.</p>
    </div>
</header>
