@model BlogCore.Models.ViewModels.ArticuloVM

@{
    ViewData["Title"] = "Crear Articulo";
}

<br />
<br />
<h3 class="text-center">Crear un nuevo Articulo</h3>
@* //                                                       //enctype="multipart/form-data --> Nos va a permitir
    //                                                      //    la subida de archivos.
*@
<form method="POST" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 offset-1 border">
        @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Articulo.Nombre" class="form-control" placeholder="Ingresa el nombre" />
                    <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Articulo.Descripcion"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Articulo.Descripcion" class="form-control" placeholder="Ingresa la descripcion" />
                    <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
                </div>
            </div>
            

            <div class="form-group row mt-4">
                <div class="col-4">
                    <label for="Categoria">Categoria</label>
                </div>

                <div class="col-8">
                    @*                                      //1. @Html.DropDownListFor --> TagHelper que genera un
                    //                                      //    elemento select.

                    //                                      //2. m => m.Articulo.CategoriaId --> Expresion Lamda que
                    //                                      //    indica la propiedad del modelo que este select
                    //                                      //    representa.

                    //                                      //3. Model.ListaCategorias --> Representa las opciones
                    //                                      //    de la lista desplegable.

                    //                                      //4. "-Por favor selecciona una categoría-" --> Primera opcion.

                    //                                      //5. new { @class = "form-control"} --> Se le da estilos
                    //                                      //    al select.
                    *@

                    @Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListaCategorias,
                             "-Por favor seleccion una categoria-", new { @class = "form-control" })
                    <span asp-validation-for="Articulo.CategoriaId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mt-4">
                <div class="col-4">
                    <label asp-for="Articulo.UrlImagen"></label>
                </div>
                <div class="col-8">
                    @* //                                   //El el caso de subir multiples archivos, tendremos 
                       //                                   //    que agregar el atributo "multiple"
                    *@
                    <input type="file" name="archivos" id="subidaArchivo" class="form-control"/>
                    <span asp-validation-for="Articulo.UrlImagen" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group-row mt-4">
            <div class="col-8">
                <partial name="_VistaCrearVolver" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @* Realiza los datos(modelo Categoria) del lado del cliente
        de manera automatica
    *@
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}