 @model BlogCore.Models.ViewModels.HomeVM
<!--Slider-->
<div id="sliderImagenes" class="carousel slide">   
    <div class="carousel-inner">
        @{
            int cont = 0;
            int countSliders = Model.Sliders.Count();
        }

        @foreach (var slider in Model.Sliders)
        {
            var itemDinamico = cont++ == 0 ? "active" : "";

            @if (slider.Estado == true)
            {
                <div class="carousel-item @itemDinamico">

                    @* Es para mostrar texto plano y es de confianza, en caso
                        contrario, optar por otro. *@
                    <img src="@Url.Content(slider.UrlImagen)" class="d-block w-100">
                    <h1 class="text-white text-center bg-dark py-1">@Html.Raw(slider.Nombre)</h1>
                </div>
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#sliderImagenes" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sliderImagenes" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--Cierra Slider-->