<div class="row">
    <div class="col">
        <button type="sumit" class="btn btn-primary form-control">Crear Categoria</button>
    </div>
    &nbsp;
    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control">Volver atras</a>
    </div>
</div>